html {
	height: 100%;
	min-height: 930px;
}

body {
	height: 98%;
}

.wrapper {
	width: 80%;
	height: 84%;
	margin: auto;
}

.header {
	background-color: rgba(17, 17, 17,1);
	height: 60px;
	width: 100%;
	display: flex;
}

.footer {
	background-color: rgba(17, 17, 17,1);
	height: 9%;
}

.logo {
	padding-top: 12px;
	padding-left: 20px;
	width: 216px;
	height: 36px;
}

.nav {
	display: inline-block;
	color: white;
	font-size: 15px;
	letter-spacing: 1px;
	font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

.nav > p {
	display: inline-block;
	padding-right: 20px;
	text-align: center;
}
.nav > p:nth-last-child(2) {
	border-right: 1px solid;
}

.nav > p:last-child {
	padding-left: 20px;
}

.title {
	height: 100px;
	padding-left: 5%;
}

.content-wrapper {
	height: 75%;
	padding-left: 15%;
}

span {
	display: block;
}

.left-content {
	width: 75%;
	display: inline-block;
	font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

.content-img {
	height: 175px;
	width: 150px;
	display: inline-block;
}

.footer-logo {
	height: 30px;
	width: 30px;
	padding-left: 15%;
	padding-top: 2.5%;
}

.content {
	height: 90%;
}
.light-grey {
	color: #abafb8;
}

.content-title {
	font-size: 28px;
	font-weight: bolder;
}

.content-author {
	font-weight: bolder;
}

.post {
	height: 200px;

	padding-bottom: 20px;
}
